CursoJava/jsp10bc/web/WEB-INF/wsdl/localhost_8080/jsp10bs/TestWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="TestWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/jsp10bs/TestWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getSuma">
<part name="parameters" element="tns:getSuma"/>
</message>
<message name="getSumaResponse">
<part name="parameters" element="tns:getSumaResponse"/>
</message>
<message name="getResta">
<part name="parameters" element="tns:getResta"/>
</message>
<message name="getRestaResponse">
<part name="parameters" element="tns:getRestaResponse"/>
</message>
<message name="getProducto">
<part name="parameters" element="tns:getProducto"/>
</message>
<message name="getProductoResponse">
<part name="parameters" element="tns:getProductoResponse"/>
</message>
<message name="getDivision">
<part name="parameters" element="tns:getDivision"/>
</message>
<message name="getDivisionResponse">
<part name="parameters" element="tns:getDivisionResponse"/>
</message>
<portType name="TestWebService">
<operation name="hello">
<input wsam:Action="http://ws/TestWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/TestWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getSuma">
<input wsam:Action="http://ws/TestWebService/getSumaRequest" message="tns:getSuma"/>
<output wsam:Action="http://ws/TestWebService/getSumaResponse" message="tns:getSumaResponse"/>
</operation>
<operation name="getResta">
<input wsam:Action="http://ws/TestWebService/getRestaRequest" message="tns:getResta"/>
<output wsam:Action="http://ws/TestWebService/getRestaResponse" message="tns:getRestaResponse"/>
</operation>
<operation name="getProducto">
<input wsam:Action="http://ws/TestWebService/getProductoRequest" message="tns:getProducto"/>
<output wsam:Action="http://ws/TestWebService/getProductoResponse" message="tns:getProductoResponse"/>
</operation>
<operation name="getDivision">
<input wsam:Action="http://ws/TestWebService/getDivisionRequest" message="tns:getDivision"/>
<output wsam:Action="http://ws/TestWebService/getDivisionResponse" message="tns:getDivisionResponse"/>
</operation>
</portType>
<binding name="TestWebServicePortBinding" type="tns:TestWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDivision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestWebService">
<port name="TestWebServicePort" binding="tns:TestWebServicePortBinding">
<soap:address location="http://localhost:8080/jsp10bs/TestWebService"/>
</port>
</service>
</definitions>