CursoJava/jsp10bc/src/conf/xml-resources/web-service-references/TestWebService/wsdl/localhost_8080/jsp10bs/TestWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getDivision" type="tns:getDivision"/>

<xs:element name="getDivisionResponse" type="tns:getDivisionResponse"/>

<xs:element name="getProducto" type="tns:getProducto"/>

<xs:element name="getProductoResponse" type="tns:getProductoResponse"/>

<xs:element name="getResta" type="tns:getResta"/>

<xs:element name="getRestaResponse" type="tns:getRestaResponse"/>

<xs:element name="getSuma" type="tns:getSuma"/>

<xs:element name="getSumaResponse" type="tns:getSumaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getProducto">
<xs:sequence>
<xs:element name="multiplicando" type="xs:int"/>
<xs:element name="multiplicador" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResta">
<xs:sequence>
<xs:element name="minuendo" type="xs:int"/>
<xs:element name="sustraendo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDivision">
<xs:sequence>
<xs:element name="dividendo" type="xs:int"/>
<xs:element name="divisor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSuma">
<xs:sequence>
<xs:element name="p1sumando" type="xs:int"/>
<xs:element name="p2sumando" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>